@charset "UTF-8";
h1 {
  display: none;
}

#container {
  /* 見本1263px */
  width: 100%;
  background-color: #948752;
}
#container header {
  width: 73vw;
  margin: 0 auto;
  position: relative;
}
#container header img.top-image {
  display: block;
}
#container header ul.head-menu {
  display: table;
  width: 98%;
  height: 15%;
  text-align: center;
  margin: 0 1%;
  background-color: #72673F;
  opacity: 0.7;
  position: absolute;
  bottom: 0.2%;
}
#container header ul.head-menu li {
  /* 高さ中央のため */
  display: table-cell;
  width: 16%;
  vertical-align: bottom;
}
#container header ul.head-menu li a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: inherit;
}
#container header::after {
  content: "";
  background-image: url(../img/border.jpg);
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
  position: absolute;
}
#container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 73vw;
  margin: 0 auto;
  background-color: black;
  /* .left-plan */
}
#container main aside.left-plan {
  /* 見本600px */
  width: 47vw;
  background: linear-gradient(black, #303030);
}
#container main aside.left-plan .belt-image {
  text-align: center;
  line-height: 0;
  margin: 30px 0;
}
#container main aside.left-plan article {
  padding: 0 5%;
}
#container main aside.left-plan article #plan-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 0;
  margin-bottom: 31px;
}
#container main aside.left-plan article #plan-flex .plan-image {
  flex: 0 0 30%;
}
#container main aside.left-plan article #plan-flex .plan-image img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#container main aside.left-plan article #plan-flex dl.detail {
  flex: 0 0 65%;
  margin-left: 10px;
}
#container main aside.left-plan article #plan-flex dl.detail dt {
  font-size: 1rem;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 1rem;
  color: #E5E3B4;
}
#container main aside.left-plan article #plan-flex dl.detail dd p {
  font-size: 10px;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 10px;
  color: white;
}
#container main aside.left-plan article a.others {
  text-align: center;
  text-decoration: underline;
}
#container main aside.right-info {
  width: 24vw;
  padding: 0 3.5%;
}
#container main aside.right-info .belt-image {
  text-align: center;
  line-height: 0;
  margin: 30px 0;
}
#container main aside.right-info ul.new-info {
  color: white;
}
#container main aside.right-info ul.new-info li:nth-child(odd) {
  font-size: 12px;
}
#container main aside.right-info ul.new-info li:nth-child(even) {
  font-size: 13px;
  text-decoration: underline;
  border-bottom: 1px solid #D7A71C;
}
#container main aside.right-info .right-banner > * {
  display: block;
  margin: 15px 0;
}
#container main::after {
  content: "";
  background-image: url(../img/border.jpg);
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
}
#container footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 73vw;
  margin: 0 auto;
  background-color: black;
  position: relative;
}
#container footer nav#left-navi {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 30%;
  color: white;
}
#container footer nav#left-navi h4 {
  flex: 0 0 100%;
  text-align: center;
}
#container footer nav#left-navi ul.sitemap {
  flex: 0 0 50%;
}
#container footer nav#left-navi ul.sitemap li {
  text-decoration: underline;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 11px;
}
#container footer aside#info-right {
  float: right;
  position: absolute;
  right: 0;
}
#container footer aside#info-right h3 {
  text-align: right;
  color: white;
}
#container footer aside#info-right ul.infomation li {
  text-align: right;
  color: white;
  font-size: 11px;
}
#container footer aside#info-right::after {
  content: "";
  display: block;
  clear: both;
}
#container footer .foot {
  flex: 0 0 100%;
}
#container footer .foot p.copyright {
  text-align: center;
  color: white;
  font-size: 10px;
}/*# sourceMappingURL=style.css.map */