@charset "UTF-8";
h1 {
  display: none;
}

#container {
  /* 見本1263px */
  width: 100%;
  background-color: #948752;
  /* .top-bgと相当違う */
}
#container > :not(:first-child, :last-child) {
  box-shadow: 0 0 2px 6px rgb(102, 93, 55);
}
#container .top-bg {
  height: 0;
  text-align: center;
}
#container .top-bg img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 81vw;
}
#container header {
  width: 73vw;
  margin: 0 auto;
  position: relative;
}
#container header::before {
  content: "";
  background-image: url(../img/border.jpg);
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
  position: absolute;
}
#container header img.top-image {
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#container header ul.head-menu {
  /* これが救い */
  display: table;
  width: 98%;
  height: 15%;
  text-align: center;
  margin: 0 1%;
  padding-top: 0.75%;
  background-color: rgba(127, 119, 82, 0.7);
  position: absolute;
  bottom: 0.2%;
}
#container header ul.head-menu li {
  /* 高さ中央のため */
  display: inline-block;
  width: 15.5%;
  margin: 2px;
}
#container header ul.head-menu li a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 98%;
}
#container header ul.head-menu li a img:hover {
  opacity: 0.1;
}
#container header ul.head-menu li:nth-child(1) {
  background-image: url("../img/nav_01_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header ul.head-menu li:nth-child(2) {
  background-image: url("../img/nav_02_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header ul.head-menu li:nth-child(3) {
  background-image: url("../img/nav_03_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header ul.head-menu li:nth-child(4) {
  background-image: url("../img/nav_04_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header ul.head-menu li:nth-child(5) {
  background-image: url("../img/nav_05_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header ul.head-menu li:nth-child(6) {
  background-image: url("../img/nav_06_bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#container header::after {
  content: "";
  background-image: url(../img/border.jpg);
  /* これも大事 */
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
  position: absolute;
}
#container main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 73vw;
  margin: 0 auto;
  background-color: black;
  /* .left-plan */
}
#container main aside.left-plan {
  /* 見本600px */
  width: 47vw;
  background: linear-gradient(90deg, black, #303030);
}
#container main aside.left-plan .belt-image {
  text-align: center;
  line-height: 0;
  margin: 30px 0;
}
#container main aside.left-plan article {
  padding: 0 5%;
}
#container main aside.left-plan article #plan-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  line-height: 0;
  margin-bottom: 31px;
}
#container main aside.left-plan article #plan-flex .plan-image {
  flex: 0 0 30%;
}
#container main aside.left-plan article #plan-flex .plan-image a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
#container main aside.left-plan article #plan-flex dl.detail {
  flex: 0 0 65%;
  margin-left: 11px;
}
#container main aside.left-plan article #plan-flex dl.detail dt {
  font-size: 1.25em;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 1.875em;
  color: #E5E3B4;
}
#container main aside.left-plan article #plan-flex dl.detail dd p {
  font-size: 0.75em;
  /* 文字+下空間 */
  padding-bottom: 9px;
  line-height: 1.125em;
  color: white;
}
#container main aside.left-plan article .others {
  text-align: center;
  padding-bottom: 30px;
}
#container main aside.left-plan article .others a {
  color: white;
  text-decoration: underline;
}
#container main aside.right-info {
  width: 24vw;
  padding: 0 3.5%;
}
#container main aside.right-info .belt-image {
  text-align: center;
  line-height: 0;
  margin: 30px 0;
}
#container main aside.right-info ul.news {
  color: white;
}
#container main aside.right-info ul.news li:nth-child(odd) {
  font-size: 1em;
  padding-bottom: 13px;
}
#container main aside.right-info ul.news li:nth-child(even) {
  font-size: 1.125em;
  text-decoration: underline;
  border-bottom: 1px solid #D7A71C;
  margin-bottom: 6px;
}
#container main aside.right-info .right-banner > * {
  display: block;
  margin: 15px 0;
}
#container main::after {
  content: "";
  background-image: url(../img/border.jpg);
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
}
#container footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  background-image: url(../img/footer.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  width: 73vw;
  margin: 0 auto;
  /* 共存できる */
  background-color: black;
}
#container footer nav#f_left-navi {
  padding: 2.5% 0 2.5% 3%;
  flex: 0 0 30%;
  color: white;
}
#container footer nav#f_left-navi h4 {
  flex: 0 0 100%;
  font-size: 1.25em;
  text-align: center;
}
#container footer nav#f_left-navi ul.sitemap:nth-of-type(1) {
  float: left;
}
#container footer nav#f_left-navi ul.sitemap:nth-of-type(2) {
  float: right;
}
#container footer nav#f_left-navi ul.sitemap li {
  text-decoration: underline;
  list-style-type: disc;
  list-style-position: inside;
  font-size: 0.85em;
  padding: 6px 0;
}
#container footer #f_right-info {
  flex: 0 0 30%;
  /* positionだからpaddingは効かない */
  padding: 5% 3% 3% 0;
  position: static;
}
#container footer #f_right-info h3 {
  font-size: 2em;
  font-weight: bold;
  text-align: right;
  color: white;
  margin-bottom: 10%;
}
#container footer #f_right-info ul.infomation li {
  text-align: right;
  color: white;
  font-size: 1em;
}
#container footer #f_right-info ul.infomation li.url {
  font-size: 12px;
}
#container footer .foot {
  flex: 0 0 100%;
  height: 7vh;
}
#container footer .foot p.copyright {
  text-align: center;
  color: white;
  font-size: 11px;
}
#container footer::after {
  content: "";
  background-image: url(../img/border.jpg);
  display: inline-block;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 4px;
}
#container .bottom-bg {
  width: 81vw;
  height: 0;
  position: relative;
  /* 下記absoluteのためこのように */
  margin: 0 auto;
}
#container .bottom-bg img {
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=style.css.map */