@charset 'utf-8';

$item-center: 0 auto;
$anchor-reset: underline;

@mixin flex-col($ratio, $distribute1: 0, $distribute2: 0) {
    flex: $distribute1 $distribute2 $ratio;
}
@mixin fit-image($w: inherit) {
    object-fit: contain;
    width: $w;        
}
@mixin back-image($path) {
    background-image: url($path);
    background-size: contain;
    background-repeat: no-repeat;
}
@mixin article-area($font-sizing) {
    font-size: $font-sizing;
    /* 文字+下空間 */
    // height: 22px;
    padding-bottom: 9px;
    line-height: $font-sizing;
}

h1 { display: none; }
#container {
    /* 見本1263px */
    width: 100%;
    background-color: #948752;
    position: relative;
    .top-bg {
        background-image: url(../img/bg_top_decoration.png); 
        background-size: cover;
        width: 81vw;
        height: 104vh;
        position: absolute;
        left: 9%;     
    }
    header {
        width: 73vw;
        margin: $item-center;
        position: relative;
        &::before {
            content: "";
            background-image: url(../img/border.jpg);
            display: inline-block;
            @include fit-image(100%);
            height: 4px;
            position: absolute;
        }
        img.top-image {
            display: block;
            @include fit-image(100%);
        }
        ul.head-menu {
            // display: table;
            width: 98%;
            height: 15%;
            text-align: center;
            margin: 0 1%;
            padding-top: .75%;
            background-color: rgba(127, 119, 82, 0.7);
            // opacity: .7;
            position: absolute;
            bottom: .2%;
            li {
                /* 高さ中央のため */
                display: inline-block;
                // display: table-cell;
                width: 16%;
                height: 100%;
                // vertical-align: bottom;
                a img {
                    @include fit-image(100%);
                    &:hover {
                        opacity: .1;
                    }
                }
            }
            @for $i from 1 through 6 {
                li:nth-child(#{$i}) {
                    @include back-image("../img/nav_0#{$i}_bg.jpg");
                }
            }
        }
        // img {
        //     position: absolute;
        //     bottom: 1%;
        // }
        &::after {
            content: "";
            background-image: url(../img/border.jpg);
            display: inline-block;
            @include fit-image(100%);
            height: 4px;
            position: absolute;
            // bottom: 1%;
        }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 73vw;
        margin: $item-center;
        background-color: black;
        aside.left-plan {
            /* 見本600px */
            width: 47vw;
            background: linear-gradient(90deg, black, #303030);
            .belt-image {
                text-align: center;
                line-height: 0;
                margin: 30px 0;
            }
            article {
                padding: 0 5%;
                #plan-flex {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    line-height: 0;
                    margin-bottom: 31px;
                    .plan-image {
                        @include flex-col(30%);
                        a img {
                            @include fit-image(100%);
                        }
                    }
                    dl.detail {
                        @include flex-col(65%);
                        margin-left: 11px;
                        dt {
                            @include article-area(1.25em);
                            color: #E5E3B4;
                        }
                        dd p {
                            @include article-area(11px);
                            color: white;
                        }
                    }
                }
                .others {
                    text-align: center;
                    padding-bottom: 30px;
                    a {
                        color: white;
                        text-decoration: $anchor-reset;
                    }
                }
            }
        }/* .left-plan */
        aside.right-info {
            width: 24vw;
            padding: 0 3.5%;
            .belt-image {
                text-align: center;
                line-height: 0;
                margin: 30px 0;
            }
            ul.news {
                color: white;
                li:nth-child(odd) {
                    font-size: 1em;
                    padding-bottom: 13px;
                }
                li:nth-child(even) {
                    font-size: 1.125em;
                    text-decoration: $anchor-reset;
                    border-bottom: 1px solid #D7A71C;
                    margin-bottom: 6px;
                }
            }
            .right-banner {
                > * {
                    display: block;
                    margin: 15px 0;
                }
            }
        }
        &::after {
            content: "";
            background-image: url(../img/border.jpg);
            display: inline-block;
            @include fit-image(100%);
            height: 4px;
        }
    }
    footer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        width: 73vw;
        margin: $item-center;
        background-color: black;
        nav#f_left-navi {
            // float: left;
            // display: flex;
            // flex-wrap: wrap;
            // width: 30%;
            padding: 2.5% 0 2.5% 3%;
            @include flex-col(30%);
            color: white;
            h4 {
                @include flex-col(100%);
                text-align: center
            }
            ul.sitemap {
                &:nth-of-type(1) {
                    float: left;
                }
                &:nth-of-type(2) {
                    float: right;
                }
                // @include flex-col(50%);
                li {
                    text-decoration: $anchor-reset;
                    list-style-type: disc;
                    list-style-position: inside;
                    font-size: 14px;
                    // text-align: center;
                    padding: 6px 0;
                }
            }
            // &::after {
            //     content: "";
            //     display: block;
            //     clear: both;            
            // }
        }
        #f_right-info {
            // float: right;
            @include flex-col(25%);
            padding-right: 3%;
            position: relative;
            h3 {
                font-size: 2em;
                font-weight: bold;
                text-align: right;
                color: white;
                position: absolute;
                top: 20%;
                right: 0;
            }
            ul.infomation {
                position: absolute;
                bottom: 0;
                right: 0;
                li {
                    text-align: right;
                    color: white;
                    font-size: 1em;                    
                }
                li.url {
                    font-size: 12px;
                }
            }
            // &::after {
            //     content: "";
            //     display: block;
            //     clear: both;            
            // }
        }
        .foot {
            @include flex-col(100%);
            p.copyright {
                text-align: center;
                color: white;
                font-size: 11px;
            }
        }
        &::after {
            content: "";
            background-image: url(../img/border.jpg);
            display: inline-block;
            @include fit-image(100%);
            height: 4px;
        }
    }
    .bottom-bg {
        background-image: url(../img/bg_bottom_decoration.png); 
        background-size: cover;
        width: 81vw;
        height: 102vh;
        position: absolute;
        bottom: 4px;
        left: 9%;     
    }
}