@charset 'utf-8';

$item-center: 0 auto;
@mixin flex-col($ratio, $distribute1: 0, $distribute2: 0) {
    flex: $distribute1 $distribute2 $ratio;
}
@mixin fit-image($w: inherit) {
    img {
        object-fit: contain;
        width: $w;        
    }    
}
@mixin article-area($font-sizing) {
    font-size: $font-sizing;
    /* 文字+下空間 */
    // height: 22px;
    padding-bottom: 9px;
    line-height: $font-sizing;
}

h1 { display: none; }
#container {
    /* 見本1263px */
    width: 100%;
    background-color: #948752;
    header {
        width: 73%;
        margin: $item-center;
        position: relative;
        ul.head-menu {
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 1%;
            li {
                display: inline-block;
                width: 16%;
                a {
                    @include fit-image();
                }
            }
        }
        // img {
        //     position: absolute;
        //     bottom: 1%;
        // }
    }
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 73%;
        margin: $item-center;
        aside.left-plan {
            /* 見本600px */
            width: 47vw;
            .belt-image {
                text-align: center;
                line-height: 0;
                margin: 30px 0;
            }
            article {
                padding: 0 5%;
                #plan-flex {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    line-height: 0;
                    margin-bottom: 31px;
                    .plan-image {
                        @include flex-col(30%);
                        @include fit-image(100%);
                    }
                    dl.detail {
                        @include flex-col(65%);
                        margin-left: 10px;
                        dt {
                            @include article-area(1rem);
                        }
                        dd p {
                            @include article-area(10px);
                        }
                    }
                }
            }
        }/* .left-plan */
        aside.right-info {
            width: 24vw;
            > * {
                padding: 0 7%;
            }
        }
    }
    footer {
        width: 73vw;
        margin: $item-center;
        nav {
            float: left;
        }
        .info-right {
            // float: right;
            ul li {
                text-align: right;
            }
            &::after {
                content: "";
                display: block;
                clear: both;            
            }
        }
        .foot {
            .copyright {
                text-align: center;
            }
        }
    }
}